/* src/app/globals.css */

/* 1. Import all of Tailwind's base styles */
@import "tailwindcss";

/* 2. Brand color theme */
@theme {
  --color-primary: #E48C2A;
  --color-dark: #000000;
  --color-light: #FFFFFF;
  --color-secondary: #4D4D4D;
}

/* 3. Base global styles */
@layer base {
  body {
    @apply bg-dark text-light;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-light;
  }
}